
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Stock Fetcher Web App", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li> <%= link_to "Home", root_path %> </li>
          <li> <%= link_to "About", about_path %> </li>
          <li> <%= link_to "Index of Stocks", stocks_path %> </li>
          <li> <%= link_to "Add Stock", stocks_new_path %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>



      


